body{
    background-color: white;
}

/* colors */

h5 {
    color: green;
}

div p {
    color: green;   /*test colors*/
}

.test {
    background-color: grey;
}


/*--colors--*/


/*--NAVBAR--*/

.navbar {
    margin-bottom: 0;
    border: 0;
    width:100%;
    background-color: rgba(0,0 0,0,0.5);
    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-dark .navbar-brand {
    color: rgb(122, 122, 122);
}

.navbar .navbar-nav a.nav-link {
    font-weight: bold;
    color: grey;
    float: right;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
}

/*--Buttons--*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red{
    color: white;
    background-color: black;
    border-color: black;
}

/*--/Buttons--*/

/*--HeroCarosel--*/

.herocarosel {
    padding-left: 25px;
}

/*--/HeroCarosel--*/

/*--Footer--*/

footer {
    background-color: #05d7f3;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.footer h3 {
    text-align: right;
}

.footer i {
    width: 100px;
    text-align: right;
}

.social-links {
    float: right;
}

.social-links li a i {
    width: 55px;
    height: 55px;
    padding: 24px 0;
    border-radius: 50%;
    font-size: 45px;
    line-height: 7px;
    text-align: center;
    color: rgb(44, 188, 255);
    background: #fafafa;
    transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

.social-links li {
    list-style-type: none;
    display: inline;
    
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.social-links li a i:hover {
background: green;
}


/*--/Footer--*/

/*-----------------------------media queries*/
@media (min-width: 576px)
.navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    
}
