body{
    background-color: white;
}

.space {
    padding-top: 30px;
}

/* colors + fonts */

 .row .about {
    text-align: center;
}
img {
    max-width: 100%;
    max-height: 100%;
}

div p {
    color: black;   /*test colors*/
    font-weight: 600;
}

div p a {
    color: black;
    font-weight: 600;
}

.text-black {
     font-weight: 500;
     color: black;
     font-size: 25px;
     font-family: Montserrat;
}

.text-person {
    font-weight: 500;
     color: black;
     font-size: 20px;
     font-family: Montserrat;  
}

.center {
    text-align: center:
}

h2, h3 {
    font-family: Black Ops One;
}

.carousel-text {
    font-weight: 500;
    color: black;
    font-size: 25px;
    font-family: roboto;
    text-shadow: 2px 2px 8px yellow;
}

.text-about {
    color: black;
    font-family: roboto;
    font-size: 25px;
}
/*--colors + fonts--*/

.divider {
    margin: 5rem 0;
}

.padding {
    padding: 10px;
}

.padding-bottom {
    padding-bottom: 30px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

/*--NAVBAR--*/

.navbar {
    margin-bottom: 25px;
    border: 0;
    width:100%;
    background-color: yellow;
    
}


.navbar .navbar-toggler {
    border: 0;
}

.navbar-light .navbar-toggler {    
    color: blue;                         /*--not working--*/ 
    border-color: blue;      
}

.navbar-brand {
    font-weight: bold;
    font-size:  20px;
    font-family: Black Ops One;
}

.navbar-light .navbar-brand {
    color: black;
}

.navbar-light .navbar-brand:hover {
    color: red;
}

.navbar-dark .navbar-brand {
    color: rgb(122, 122, 122);
}

.navbar-light .navbar-nav .nav-link {
    text-align: center;
}

.navbar .navbar-nav a.nav-link {
    font-weight: bold;
    color: black;
    float: right;
    text-align: center;
}

.navbar .navbar-nav a.nav-link:hover {
    color: red;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: red;
}

.navbar-light .navbar-text {
    color: black;
    float: right;
    padding-top: 20px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
}

/*--Buttons--*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red{
    color: white;
    background-color: white;
    border-color: rgb(255, 255, 255);
}

.readmore {
        background-color: yellow;
        border-radius: 15px;
        color: black;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border:2px solid black;
      }

    .readmore:hover{
        text-decoration: none;
        color: red;
    }


/*--/Buttons--*/

/*--HeroCarosel--*/

.herocarosel {
    padding-left: 25px;
}

.carousel-item {
    color: #2246ff;
}

.carousel-inner .carousel-item {
   max-height: 600px;
   
}

.carousel-inner .carousel-item img {
   max-height: 700px;
   max-width: 90%
   padding-left: 10px;
}

/*--/HeroCarosel--*/
/*--about--*/

.row .about {
    text-align: center; 
    
}

.about {
    text-align: center;  
}

.container-about {
    text-align: center;
}


/*--/about--*/

/*--services--*/

.services {
    padding-top: 50px;
    text-align: center;
}

.services h2 {
    padding-bottom: 20px;
}

.services .more {
    padding-top: 20px;
}

.services .portrait {
    padding-left: 30px;
}

/*--services--*/

/*--People--*/
.people h2 {
    text-align: center;
    padding-bottom: 50px;
}


/*--People--*/


/*--Footer--*/

footer {
    background-color: yellow;
    color: black;
    min-height: 120px;
    margin: 0;
}

.footer h3 {
    text-align: right;
}

.footer i {
    width: 100px;
    text-align: right;
}

.social-links {
    float: right;
}

.social-links li a i {
    width:65px;
    height:50px;
    border-radius:50px;
    border: 2px solid #49c5ff;
    font-size: 40px;
    color: #05d7f3;
    line-height: 50px;
    text-align:center;
    background:white;
    transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;   
}

.social-links li {
    list-style-type: none;
    display: inline;
    
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.social-links li a i:hover {
background:  yellow;
}


/*--/Footer--*/

.center-me {
    margin: 0;
}

/*-----------------------------media queries*/
@media (min-width: 576px)
.navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}




