body{
    background-color: grey;
}

/* NAVBAR */

.navbar {
    margin-bottom: 0;
    border: 0;
    width:100%;
    background-color: rgba(0,0 0,0,0.5);
    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-dark .navbar-brand {
    color: rgb(122, 122, 122);
}

.navbar .navbar-nav a.nav-link {
    font-weight: bold;
    color: grey;
    float: right;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red{
    color: white;
    background-color: black;
    border-color: black;
}

/* heroCarosel*/

.herocarosel {
    padding-left: 25px;
}

/*-----------------------------media queries*/
@media (min-width: 576px)
.navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    
}
